# Python artifacts.
__pycache__
*.pyc

# Assets.
*/_assets/*
!*/_assets/.gitignore

# Ignore large datasets for time series.
bifurcation-diagram/_output-cache/N12=1280/*
bifurcation-diagram/time-series.tar.gz

# Jupyter Notebook internal stuff. 
*/.ipynb_checkpoints/

# Build directories.
_build*

# Environment files for zsh-autoenv.
autoenv-enter.zsh
autoenv-leave.zsh
